.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
}

.App-header {
  background-color: darkred;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.formbox {
  margin: 0 25% 0 25%;
}

form {
  background-color: cadetblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;  
  margin: center;
}

label {
  width: 100px;
  text-align: right;
  margin-top: 10px;
}

input, textarea {
  margin-top: 5px;
  display: block;
}

#submitbtn {
  background-color: darkred;
  color: white;
}